.navbar {
/* background-color: rgb(143, 143, 143); */
height: 50px;

}

.card{
  opacity: .7;
  padding: 2px;
  margin: 2px;
}

.btn{
  opacity: .7;
  
}

.navbar-brand{
  font-size: xx-large;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(128, 128, 128);
  -webkit-text-stroke: .5px rgb(252, 252, 252);
  
}
#todayForecast{

  text-align: left;
  height: 250px;
}
#previousCity{

  height: 250px;
  margin-left: 10px;
  }
#name{
  font-size: xx-large;

}
#temp, #desc{
  font-size: medium;
}

body{
  background-color: rgb(185, 185, 185);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backroundAM{
  background: url("https://images.unsplash.com/photo-1514241516423-6c0a5e031aa2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80") no-repeat fixed center;
}
.backgroundMid{
  background:  url("https://images.unsplash.com/photo-1508550536558-5e8d33eb9a82?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80") no-repeat fixed center;
}
.backgroundAfternoon{
  background: url("https://images.unsplash.com/photo-1553011234-96ec81abde91?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80") no-repeat fixed center;
  
}
.backgroundNight{
  background: url("https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80") no-repeat fixed center;
  
}

/* UV class colors */
.uvGreen{
  background: rgb(144, 255, 144) !important;
}

.uvYellow {
  background: rgb(252, 252, 155) !important;
}

.uvOrange {
  background: rgb(255, 213, 136) !important;
}

.uvRed{
  background: rgb(255, 133, 133) !important;
}



[class*="row"]{

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 10px;
}